

.js-carrito {
    width: 500px;
    background-color: rgb(235, 240, 254);
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    right: 0px;
    top: 100px;
    padding: 10px;
}

.js-carrito ul {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    text-align: left;
    margin-bottom: 10px;
    li {
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }
}

.js-item {
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr 1fr;
    align-items: center;
}

.imagenCarrito {
    width: 100px;
    height: 100px;
}

.imagenCarrito img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.cantidad {
    width: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.eliminar {
    grid-column: 1/4;
}

.cantidad p {
    text-align: center;
}

.totalItem, .precioItem {
    text-align: center;
}

.totalCarrito {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    gap: 5px;
    p {
        grid-column: 2/4;
        font-weight: bold;
    }
    .vaciar {
        grid-column: 2/4;
    }
    .comprar {
        grid-column: 2/4;
    }
}

.hidden {
    display: none;
}