.hidden {
    display: none;
}

.js-carrito {
    width: 400px;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0px;
    top: 100px;
}

.js-carrito ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

